<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sleep monitoring System</title>
    <script type="text/javascript">
      setInterval(readresult, 333)
      
      function readresult(){
        var sec = 0
        var min = 0
        var hour = 0
        var res = document.getElementById("result");
        var op = document.getElementById("operatingtime");
        var nob = document.getElementById("notob");
        var ob = document.getElementById("ob");
        var respi = document.getElementById("respiration");
        var hr = document.getElementById("heartrate");
        var xhr = new XMLHttpRequest();
        xhr.open("POST", "/sen", true)
        xhr.send();
        xhr.onload=()=>{
          if(xhr.readyState === 4){
            if(xhr.status === 200){
              var values = xhr.responseText.split(",");
              res.innerHTML = "수면자세: " + values[0];
              op.innerHTML =  "작동시간: " + values[1]+"초";
              nob.innerHTML =  "비수면 시간: " + values[2]+"초";
              ob.innerHTML =  "수면 시간: " + values[3]+"초";
              if(values[4] != '0'){
                respi.innerHTML = "분당 호흡 수: " + values[4]+"번";
              }
              if(values[5] != '0')
                hr.innerHTML = "심박 수: " + values[5]+"번";
              
              
              
            } else{
              res.innerHTML = "failed";
            }
          }
        }
      }
      /*setInterval(readRespirate, 333)
      function readRespirate(){
        var respi = document.getElementById("respiration");
        var xhr = new XMLHttpRequest();
        xhr.open("POST", "/respiration", true)
        xhr.send();
        xhr.onload=()=>{
          if(xhr.readyState === 4){
            if(xhr.status === 200){
              var value = xhr.responseText();
              respi.innerHTMl = "호흡 수: " + value+"번";
            } else{
              respi.innerHTML= "failed";
            }
          }
        }
      }*/
    </script>
    <style>
        div{
            font-size: 40px;
        }
        img{
          margin-left: 300px;
        }

    </style>
</head>
<body>
    <form action="index" method="post">

        <div id= "result"></div>
        <div id = "operatingtime"></div>
        <div id = "notob"></div>
        <div id = "ob"></div>
        <div id = "respiration">분당 호흡 수: -번</div>
        <div id = "heartrate">심박 수: -번</div>
        <img src="./graph.png"/>
    </form>
</body>
</html>