<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="cache-control" content="no-cache">
    <title>Sleep monitoring System</title>
    <script type="text/javascript">
      setInterval(readresult, 333)
      
      function readresult(){
        var sec = 0
        var min = 0
        var hour = 0
        var res = document.getElementById("result");
        var op = document.getElementById("operatingtime");
        var nob = document.getElementById("notob");
        var ob = document.getElementById("onbed");
        var respi = document.getElementById("respiration");
        var hr = document.getElementById("heartrate");
        var xhr = new XMLHttpRequest();
        var imgsrc = "{{ url_for('static', filename=image_file) }}"
        //document.getElementById("img").srcdoc = "<img src=\"{{ url_for('static', filename=image_file) }}\"";
        document.getElementById("img").src = imgsrc + "?a="+(new Date().getTime());
        xhr.open("POST", "/sen", true)
        xhr.send();
        xhr.onload=()=>{
          if(xhr.readyState === 4){
            if(xhr.status === 200){
              var values = xhr.responseText.split(",");
              res.innerHTML = "수면자세: " + values[0];
              op.innerHTML =  "작동시간: " + values[1]+"초";
              nob.innerHTML =  "비수면 시간: " + values[2]+"초";
              ob.innerHTML =  "수면 시간: " + values[3]+"초";
              if(values[4] != '0'){
                respi.innerHTML = "분당 호흡 수: " + values[4]+"번";
              }
              else{
                respi.innerHTML = "분당 호흡 수: -번";
              }
              if(values[5] != '0')
                hr.innerHTML = "심박 수: " + values[5]+"번";

              else{
                hr.innerHTML = "심박 수: -번";
              }
              
              
            } else{
              res.innerHTML = "failed";
            }
          }
        }
      }
    </script>
    <style>
        .grid_parent{
          display: grid;
          grid-gap: 5px;
        }

        div{
          font-family: sans-serif;
        }

        #result{
          font-size: 50px;
          font-weight: bold;
          display: inline-block;
          border: 5px solid black;
          border-radius: 10px;
          padding: 10px;
        }

    </style>
</head>
<body>
    <div class = "grid_parent" style="grid-template-rows: 1fr 3fr;">

        <div class="grid_parent" style="grid-row:1; grid-template-columns: 3fr 2fr">
          <div id = "result" style="grid-column: 1"></div>
          <div class="grid_parent" style="grid-column:2; grid-template-rows: 1fr 1fr 1fr">
            <div id = "operatingtime" style="grid-row: 1; font-size: 30px;"></div>
            <div id = "notob" style="grid-row: 2; font-size: 30px;"></div>
            <div id = "onbed" style="grid-row: 3; font-size: 30px;"></div>
          </div>
        </div>

        <div class="grid_parent" style="grid-row:2; grid-template-columns: 1fr 2fr;">

          <div class="grid_parent" style="grid-column:1; grid-template-rows: 1fr 1fr;">
            <div id = "respiration" style="grid-row:1; font-size: 40px;">분당 호흡 수: -번</div>
            <div id = "heartrate" style="grid-row:2; font-size: 40px;">심박 수: -번</div>
          </div>
          
          {% if True %}
          <img id="img" src="{{ url_for('static', filename=image_file) }}" style="grid-column: 2" alt='측정 중...' width = "640px" height = "480px" style="position:absolute; top:100px; right: 2px;"/>
          {% endif %}
        </div>

    </div>
</body>
</html>
